<div class="card {% if include.large %}mt-3{% endif %}">
    <{% if include.large %}h2{% else %}h3{% endif %} class="card-header">
        <a class="card-link stretched-link" href="{{ include.post.url }}">{{ include.post.title }}</a>
    </{% if include.large %}h2{% else %}h3{% endif %}>
    <div class="card-body">
        <div class="card-title"><strong>Published:</strong> {{ include.post.date | date: '%Y-%m-%d' }}</div>
        <p class="card-text">{{ include.post.excerpt }}</p>
    </div>
    <div class="card-footer">Continue Reading...</div>
</div>